@using Pazzo_test.Models
@model List<Customers>

@{
    ViewBag.Title = "Index";
}

<h2>Customers Index</h2>

<div>
    @{
        foreach (var item in Model)
        {
            <div class="row">
                <div class="col-sm-2">@item.CustomerID</div>
                <div class="col-sm-10">@item.CompanyName</div>
            </div>
        }
    }
</div>
